*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.hero{
  position: relative;
  width: 100%;
  height: 100%;
}

nav{
  background: #95ffb8;
  border: none;
  margin: 0 !important;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  transition: 1s;
  transform: translateY(0%);
}

nav ul li{
  display: inline-table;
  list-style-type: none;
  margin: 20px 75px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul a:hover{
  color: green;
}

.detel{
  margin-left: 8%;
  margin-top: 13%;
}

.detel h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  
}

span{
  color: orange;
}


.detel p{
  color: #555;
  line-height: 22px;
}

.detel a{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.animation{
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
0%   { left:0px; top:0px;}
50%   { left:0px; top:30px;}
100% { left:0px; top:0px;}
}

.images{
  width: 500px;
  height: 500px;
  position: relative;
  margin-top: -250px;
}

.images img{
  height: 100%;
  position: absolute;
  bottom: 0%;
  transform: translateX(-50%);
  transition: up 0.5s;
}

.images:hover .shape{
  bottom: 40px;

}

.gelombang{
   margin-top: -12px;
}

.about {
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 100px;
}

.aboutme {
  margin-left: 300px;
  margin-right: 300px;
}

.profile{
  background: linear-gradient(to right, #dd6fff, #f2d1ff);
  text-align: center;
  width:500px;
  border:2px solid green; 
  padding:30px; margin:10px; margin-top: 30px;
  transition: width 2s;
}

.profile:hover{
  width: 800px;
}

.anprofile {
  width: 600px;
  height: 600px;
  position: relative;
  animation-name: anprofile;
  animation-duration: 4s;
  margin-left: 350px;
  animation-iteration-count: 2;
}

@keyframes anprofile {
  0%   {left:0px; right:0px;}
  25%  {left:200px; right:0px;}
  50%  {left:200px; right:200px;}
  75%  {left:0px; right:200px;}
  100% {left:0px; right:0px;}
}


/*timeline*/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(0, 221, 48);
  color: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

div time{
  position: relative;
  right: 110%;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 150px;
  padding: 15px;
  border: .5px solid rgb(97, 255, 215);
  border-radius: 5px;
  background: #00b176;
}

.timeline ul li div:hover {
  background-color: rgb(167, 255, 214);
  color: #000000;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 15px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(0, 253, 211)  transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -195px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent rgb(76, 241, 206) transparent ;
}

/*employment section*/
ul li{
  list-style-type: none;
}

.jobyear, .employer{
  font-size: 1em;
}

.jobholder button{
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgb(142, 255, 221);
  color: #009688;
  width: 20%;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}

/*% charts*/
.firstchart, .secondchart, .thirdchart{
  display: inline-block;
  margin: 5%;
}

.level{
  font-style: bold;
  letter-spacing: 3px;
}

circle{
  fill: transparent;
}

/*first circle*/
#outerc1{  
  fill: transparent;
  stroke: rgb(212, 0, 255);
  stroke-width: 5;
  stroke-dasharray: 0 190 0;
  stroke-linecap: "round";
} 

#outerc1:hover{
  animation: beginner 3s ease-in-out infinite;
}

@keyframes beginner{
  0%{stroke-dasharray: 0;}
  100%{stroke-dasharray: 0 190 0;}
}

#innerc1{
  fill: transparent;
  stroke: #655;
  stroke-width: 1;
}

/*end of first circle*/

/*start of second circle*/
#outerc2{  
  fill: transparent;
  stroke: rgb(212, 0, 255);
  stroke-width: 5;
  stroke-dasharray: 100 100;
  stroke-linecap: "round";
} 

#outerc2:hover{
  animation: pro 3s ease-in-out infinite;
}

@keyframes pro{
  0%{stroke-dasharray: 0;}
  100%{stroke-dasharray: 100 100;}
}

#innerc2{
  fill: transparent;
  stroke: #655;
  stroke-width: 1;
}
/*end of second chart*/

/*start of 3rd circle*/
#outerc3{  
  fill: transparent;
  stroke: rgb(212, 0, 255);
  stroke-width: 5;
  stroke-dasharray: 185 0;
  stroke-linecap: "round";
} 

#outerc3:hover{
  animation: expert 5s ease-in-out infinite;
}

@keyframes expert{
  0%{stroke-dasharray: 0 180;}
  100%{stroke-dasharray: 180 0;}
}

#innerc3{
  fill: transparent;
  stroke: #655;
  stroke-width: 1;
}
/*end of third chart*/

/*end of charts*/

.expertp {
  margin-right: 100px;
}

.certificates {
	display: flex;
	min-height: 100vh;
	background-color: #0099ff;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.certificates h1 {
	margin-bottom: 30px;
	color: #ffff;
	letter-spacing: 5px;
}

.certificates h1::after {
	content: "";
	display: block;
	border-bottom: 4px solid #ffff;
	max-width: 50px;
	margin: 10px auto;
}

.certificate img {
	width: 100%;
	max-width: 600px;
	border-radius: 16px;
}

.certificate img:hover {
	transform: scale(1.1);
}

.certificates .certificate {
	margin: 20px;
}

@keyframes shake {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(3px, -1px);
	}
	40% {
		transform: translate(-6px, -1px);
	}
	60% {
		transform: translate(6px, 1px);
	}
	80% {
		transform: translate(-6px, 1px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}